---
{% if __ee.ee_roles is defined %}
{%    if __ee.ee_roles|length %}
roles:
{% for item in __ee.ee_roles %}
- name: {{ item.name }}
  {% if item.version is defined %}version: {{ item.version }}{% endif %}
{% endfor %}
{%    endif %}
{% endif %}
{% if __ee.ee_collections is defined %}
{%    if __ee.ee_collections|length %}
collections:
{% for item in __ee.ee_collections %}
{% if item.name is defined %}
- name: {{ item.name }}
{% else %}
- {{ item }}
{% endif %}
{% if item.type is defined %}
  type: {{ item.type }}
{% endif %}
{% if item.version is defined %}
  version: {{ item.version }}
{% endif %}
{% endfor %}
{%    endif %}
{% endif %}