---
version: 3
dependencies:
  galaxy: requirements.yml
  system: bindep.txt
additional_build_files:
  - src: ansible.cfg
    dest: configs
additional_build_steps:
  prepend_galaxy:
    - ADD _build/configs/ansible.cfg /etc/ansible/ansible.cfg
  append_final:
    - RUN microdnf reinstall tzdata -y
    - RUN rm -f /etc/ansible/ansible.cfg
    - RUN microdnf clean all
    - RUN curl -L -o /usr/local/bin/yq https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 && chmod +x /usr/local/bin/yq
options:
  package_manager_path: /usr/bin/microdnf
images:
  base_image:
    name: registry.redhat.io/ansible-automation-platform/ee-minimal-rhel9:2.16
    signature_original_name: registry.redhat.io/ansible-automation-platform/ee-minimal-rhel9:2.16