---
- name: Set some facts
  ansible.builtin.set_fact:
    __image_full_name: "{{ dest_registry_name }}/{{ image_name }}"

- name: Pull builder images
  containers.podman.podman_image:
    name: "{{ item }}"
    username: "{{ registry_user }}"
    password: "{{ registry_pass }}"
    force: true
  loop:
    - "{{ ee_base_image }}"
    # - "{{ ee_builder_image }}"
  when: build_ee_version == 1

- name: "Delete old EE: {{ __image_full_name }}"
  containers.podman.podman_image:
    name: "{{ __image_full_name }}"
    state: absent
    force: true

- name: Make sure dest dir exists
  ansible.builtin.file:
    name: "{{ build_ee_dest_dir }}"
    state: directory
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_id }}"
    mode: "0755"

- name: Clean out previous runs
  ansible.builtin.file:
    name: "{{ build_ee_dest_dir }}/context"
    state: absent

- name: Template out builder files
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "{{ build_ee_dest_dir }}{{ item }}"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_id }}"
    mode: '0644'
  loop:
    - ansible.cfg
    - bindep.txt
    - execution-environment.yml
    - requirements.txt
    - requirements.yml

- name: "Block: ansible-builder"
  block:
    - name: Build new EE on version 1 without signature verification
      ansible.builtin.command:
        cmd: 'ansible-builder build -vvv -t {{ __image_full_name }}:{{ ee_build_tag | default("latest") }} --prune-images'
        chdir: "{{ build_ee_dest_dir }}"
      changed_when: true
      when: build_ee_version == 1
      register: build_log

    - name: Build new EE with container signature verification on version 2 or 3
      ansible.builtin.command:
        cmd: 'ansible-builder build -vvv -t {{ __image_full_name }}:{{ ee_build_tag | default("latest") }} --prune-images --container-policy=system --squash=new'
        chdir: "{{ build_ee_dest_dir }}"
      changed_when: true
      when: build_ee_version == 2 or build_ee_version == 3
      register: build_log

  always:

    - name: Dump build_log to file
      ansible.builtin.copy:
        content: "{{ build_log.stdout }}"
        dest: "{{ build_ee_dest_dir }}/ansible-builder.log"
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_id }}"
        mode: '0644'

- name: Only if pushing to remote registry
  when:
    - build_ee_push_to_registry | bool | default(true)
  block:
    - name: "{{ __task_name }}"
      vars:
        __task_name: "Push new EE to: {{ dest_registry_name }}, tag: {{ ee_build_tag | default('latest') }}"
      containers.podman.podman_image:
        name: "{{ __image_full_name }}"
        tag: "{{ ee_build_tag | default('latest') }}"
        push: true
        username: "{{ dest_registry_user }}"
        password: "{{ dest_registry_pass }}"

    - name: Only if pushing with datetime/tag
      vars:
        __datetime_tag: "{{ ansible_date_time.iso8601_basic_short }}"
      when:
        - ee_registry_add_timestamp_tag | default(true)
      block:
        - name: Create new tag on EE based on date time of creation
          containers.podman.podman_tag:
            image: "{{ __image_full_name }}"
            target_names:
              - "{{ __image_full_name }}:{{ __datetime_tag }}"

        - name: "{{ __task_name }}"
          vars:
            __task_name: "Push new EE to: {{ dest_registry_name }}, tag: {{ ee_build_tag | default('latest') }}"
          containers.podman.podman_image:
            name: "{{ __image_full_name }}"
            tag: "{{ __datetime_tag }}"
            push: true
            username: "{{ dest_registry_user }}"
            password: "{{ dest_registry_pass }}"

        - name: Remove extra tag
          containers.podman.podman_image:
            name: "{{ __image_full_name }}"
            tag: "{{ __datetime_tag }}"
            state: absent

# - name: Delete completed EE to free space
#   containers.podman.podman_image:
#     name: "{{ __image_full_name }}"
#     state: absent
#     force: true
