---
version: 3
dependencies:
  galaxy: requirements.yml
  python: requirements.txt
  system: bindep.txt
additional_build_files:
  - src: ansible.cfg
    dest: configs
additional_build_steps:
  prepend_base:
    - RUN curl -o ./epel-release-latest.rpm https://dl.fedoraproject.org/pub/epel/epel-release-latest-9.noarch.rpm
    - RUN rpm -i ./epel-release-latest.rpm
    - RUN microdnf install -y python3.13 python3.13-pip
    - RUN alternatives --install /usr/bin/python3 python3 /usr/bin/python3.13 1
    - RUN alternatives --install /usr/bin/pip3 pip3 /usr/bin/pip3.13 1
    - RUN alternatives --remove python3 /usr/bin/python3.11
    - RUN alternatives --remove pip3 /usr/bin/pip3.11
    - RUN pip3.11 uninstall ansible ansible-runner -y
    - RUN pip3 install ansible~=10.0.1 ansible-runner==2.3.6
  prepend_galaxy:
    - ADD _build/configs/ansible.cfg /etc/ansible/ansible.cfg
  append_final:
    - RUN microdnf reinstall tzdata -y
    - RUN rm -f /etc/ansible/ansible.cfg
    - RUN microdnf clean all
    - RUN curl -L -o /usr/local/bin/yq https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 && chmod +x /usr/local/bin/yq
options:
  package_manager_path: /usr/bin/microdnf
images:
  base_image:
    name: registry.redhat.io/ansible-automation-platform/ee-minimal-rhel8:2.16
    signature_original_name: registry.redhat.io/ansible-automation-platform/ee-minimal-rhel8:2.16